<ion-header>
  <ion-toolbar>
    <ion-title>City Selection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-img class='iconImg' [@showIcon]='currentState' *ngIf='citySelected !== undefined'
          [src]="citySelected.icon"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm>
        <ion-list>
          <ion-item>
            <ion-label>Select a city from the list:</ion-label>
            <ion-select [(ngModel)]='citySelected' okText="OK" cancelText="CANCEL" (ionChange)='manageAnimations()'>
              <ion-select-option *ngFor="let city of cities" [value]="city">{{city.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm>
        <ion-button expand="block" disabled='{{citySelected === undefined}}' (click)='selectCity()' routerLink="/main">
          Go to sightseeing!
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>